.drawerContent {
    width: 250px;
    background-color: #2c3e50;
    padding: 20px;
    box-sizing: border-box;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .textContent {
    color: #fff;
    text-align: center;
  }
  
  .headline {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff; /* Set text color to white */
  }
  
  .secondLine {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #fff; /* Set text color to white */
  }
  
  .thirdLine {
    font-size: 1em;
    margin-bottom: 10px;
    color: #fff; /* Set text color to white */
  }
  
  .enrollBtn {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Add new style for the Close button */
  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
  }
  