.color--card {
  background: rgba(255, 255, 255, 0.9);
}

.main {
  width: calc(100vw - 65px);
  margin-left: 65px;
}

.linkgroup {
  display: flex;
  min-height: 100vh;
}

.linkgroup__col1 {
  width: 200px;
  flex-shrink: 0;
  border-right: 1px solid #1f2029;
}

.linkgroup__col2 {
  display: flex;
  flex-grow: 1;
  display: block;
}

.linkgroup__name {
  margin: 60px 20px 20px 20px;
  padding: 0 0 9px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 40px 0 0 40px;
}

.grid__item {
  width: 300px;
  margin: 0 40px 40px 0;
}

@media (max-width: 766px) {
  .grid {
    padding: 20px 0 0 20px;
  }
  .grid__item {
    width: 150px;
    margin: 0 20px 20px 0;
  }
}

.card {
  display: flex;
  position: relative;
  text-align: left;
  border-radius: 2px;
  box-shadow: var(--shadow-darker);
  font-size: 0.8rem;
  overflow: hidden;
}

.card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card__inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 10px 10px 12px 14px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.card__inner:after,
.card__inner:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 0.25s;
}
.card__inner:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid rgba(0, 0, 0, 0.35);
  border-left: 5px solid rgba(0, 0, 0, 0.35);
}
.card__inner:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.35);
  border-right: 5px solid rgba(0, 0, 0, 0.35);
}
.card__inner:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.card__inner:hover:before,
.card__inner:hover:after {
  width: 100%;
  height: 100%;
  // border-color: rgba(22, 22, 22, 0.2);
}

.card__favicon {
  padding-bottom: 8px;
  transition: 0.2s;
}
.card__title {
  padding-bottom: 10px;
  transition: 0.2s;
  font-size: 2rem;
}

.card__link {
  padding-bottom: 0px;
  transition: 0.2s;
  color: black;
}

.card__inner:hover .card__favicon {
  transform: translate3d(0px, 0, 0);
}
.card__inner:hover .card__title {
  transform: translate3d(0px, 0, 0);
}
.card__inner:hover .card__link {
  transform: translate3d(0px, 0, 0);
}
