.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(243, 238, 238, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  width: 520px;
  height: 320px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-primary);
  border: 15px solid #fff;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  align-items: center;
  justify-content: center;

}


.inner-content{
  border-radius: 8px;
}

.text-content{
  padding: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family:var(--font-primary );
}


.close-btn{
  display: block;
  margin: 0 0 0 auto;
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: #fff;
  outline: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.head-line{
  color: #fff;
  text-align: center;
  position: relative;
  margin :0;
  font-size: 30px;
  font-weight: 28px;
  padding-top: 5px; 
}

.sec-line,.third-line{
  text-align: center;
  padding: 8px;
  font-size: 25px;
  font-weight: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.enroll-btn{
  display: block;
  border: none;
  background-color: #fff;
  font-size: 20px;
  color: rgb(14, 12, 12);
  cursor: pointer;
  width: 140px;
  height: 50px;
  position: relative;
  margin-bottom: 10px;

}


/* Responsive styles for smaller screens (e.g., mobile devices) */
@media (max-width: 600px) {
  .popup-content {
    width: 90%;
    height: auto;
    max-width: 400px;
  }

  .head-line {
    font-size: 24px;
  }

  .sec-line,
  .third-line {
    font-size: 18px;
  }

  .enroll-btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
  }
}

/*-------------------
     Form Popup
---------------------*/
.form-popup-content {
  width: 450px;
  height: 300px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.form-response {
  color: black;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.form-res-msg{
  font-size: 18px;
  padding: 2px;
}

.form-pop-close{
  position: relative;
  padding: 15px;
  cursor: pointer;
  color: black ;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 4% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

